
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/gh/SebastianAigner/twemoji-amazing@1.0.0/twemoji-amazing.css" rel="stylesheet">
    <!-- <script src="https://kit.fontawesome.com/6bfa37ad19.js" crossorigin="anonymous"></script> -->
    <link href="/dist/output.css" rel="stylesheet">

    <% if(typeof(title) == "undefined"){ %>
        <title>鱼收藏家</title>
    <% } else { %>
        <title><%= title %></title>
    <% } %>   
    
