<!DOCTYPE html>
<html>

<head>
    <%- include("../common/header.html") %>
    <style>
        .item-active {
            background: rgb(243, 244, 246);
        }
    </style>
</head>

<body>
    <div class="flex flex-col">
        <h1 class="leading-10 p-5 text-2xl border-b-2 border-gray-100">Post Controller</h1>

        <ul class="p-12">
            <% for(let i =0; i < posts.length; i++) { %>
            <li id="<%= i %>" onclick="onPostItemClicked(<%= i %>)"
                class="post-item text-xl cursor-pointer select-none"><%= posts[i]._id %> | <%= posts[i].title %></li>
            <% } %>
        </ul>

        <div class="flex flex-col content-center mt-4">
            <input id="post-title-input" class="w-1/2 mx-auto text-2xl p-2 border-2" placeholder="Title" name="Title">
            <textarea id="post-content-input" class="resize-none rounded-md w-1/2 mx-auto text-2xl p-2 h-72 border-2"
                placeholder="Post content" name="Content"></textarea>

            <button id="post-publish-btn" class="my-9 border rounded-lg btn-grad md:w-52 mx-auto">Publish</button>
        </div>
    </div>

    <script>
        function replacePostInto(title, content) {
            $("#post-title-input").val(title)
            $("#post-content-input").val(content)
        }

        var current;
        function onPostItemClicked(seq) {
            if (current !== undefined) {
                $("#" + current).removeClass("item-active");
                if (current == seq) {
                    // Clear the selected state
                    replacePostInto("", "");
                    current = null;
                    $("#post-publish-btn").text("Create");
                    return
                }
            }
            current = seq;
            var posts = `<%- JSON.stringify(posts) %>`
            posts = JSON.parse(posts);
            replacePostInto(posts[seq].title, posts[seq].content);
            $("#" + current).addClass("item-active")
            $("#post-publish-btn").text("Update")
        }

        $("#post-publish-btn").click(() => {
            const title = $("#post-title-input").val();
            const content = $("#post-content-input").val();
            const data = { title: title,
                    content: content }
            if(current) {
                // Post updating mode
                $.post("/post/update", data)
                    .done((res) => {
                        alert(res);
                    })
                return;
            }
            $.post("/post/create", data)
                .done((data) => {
                    alert(data);
                });
        });
    </script>
</body>

</html>