<!DOCTYPE html>
<html>

<head>
    <%- include("../common/header.html") %>
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <div class="login-card-lay">
        <h1 class="login-top-title">Login</h1>
        <form method="post">
            <div class="flex flex-col">
                <input class="input-box" placeholder="Username" required type="text" name="username" autocomplete="off">
                <input placeholder="Password" required type="password" name="password">
                <input type="submit" value="Login">
            </div>
        </form>
    </div>
</body>

</html>