<!DOCTYPE html>
<html>

<head>
    <%- include("./common/header.html") %>
    <link rel="stylesheet" href="css/home.css">
</head>

<body>
    <div class="parallax">
        <div class="home-header">
            <div class="home-header-foreground z-10 text-white">
                <img class="rounded-full object-cover h-44 w-44" src="/img/gravatar.png">
                <h1 class="text-6xl md:text-9xl mt-5 mb-4">LingC</h1>
                <p class="text-lg font-mono">Fish's doom if not salted.</p>
            </div>
            <div class="w-full h-screen home-header-img-cover text-center">
            </div>
            <img class="w-full object-cover home-header-img pointer-events-none" src="/img/tanpopo.jpg" alt="background"
                draggable="false">
        </div>
        <div class="home-content">
            <header class="">
                <nav class="">
                    <input type="checkbox" id="home-nav-switcher">
                    <label class="home-nav-menu-btn" for="home-nav-switcher"><i class="fa-solid fa-bars"></i></label>
                    <h1 class="home-top-title inline">Fiswh</h1>
                    <ul class="text-lg">
                        <li><a id="home-btn" class="active">Home</a></li>
                        <li><a href="/">Category</a></li>
                        <li><a href="/">Feedback</a></li>
                        <li><a id="about-btn">About</a></li>
                    </ul>
                </nav>
            </header>

            <div id="main-content-lay">

            </div>
        </div>

        <%- include("./common/footer.html") %>
    </div>

    <script>
        // Navigation Stack Manager
        // Single Stack Mode
        const stack = new Array();
        window.onpopstate = (event) => {
            if (stack.length == 1) {
                // Didnt set first page.
            } else {
                onLocationChanged(stack[stack.length - 2], stack.pop())
            }
        }

        function onLocationChanged(current, last) {
            $("#main-content-lay").html(current);
        }

        var pendingStack;
        function createStack(name) {
            pendingStack = name;
        }

        function forward(data, url) {
            stack[stack.length] = data;
            window.history.pushState(data, "", url)
        }
    </script>

    <script>
        $(() => {
            $("parallax").scroll(() => {
                console.log("s")
            });
        })

        $.get({
            url: "/",
            headers: {
                "Partial-Content": "1"
            },
            success: (data, status) => {
                $("#main-content-lay").html(data);
                forward(data, "")
            }
        })

        $("#home-btn").click(() => {
            $.get({
                url: "/",
                headers: {
                    "Partial-Content": "1"
                },
                success: (data, status) => {
                    if (data) {
                        $("#main-content-lay").html(data);
                        document.title = "Home"
                        forward(data, "/")
                    }
                }
            })
        })

        $("#about-btn").click(() => {
            $.get("/about", (data, status) => {
                if (data) {
                    $("#main-content-lay").html(data);
                    document.title = "About"
                    forward(data, "/about")
                }
            });
        })
    </script>
</body>

</html>